/* @theme custom */

@import 'gaia';

img[alt$="right"] {
    float: right;
}

img[alt$="left"] {
    float: left;
}

img[alt$="center"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 100px 0;
    float: none !important;
}

section {
    font-size: 30px;
}